* {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  font-family: "Roboto";
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.load-para {
  margin-top: 15px;
  font-family: 'Roboto';
}

.center {
  text-align: center;
}

.success-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.success-container {
  width: 90%;
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.ant-container {
  padding: 20px;
  margin-bottom: 150px;
  width: 100%;
  margin-top: 50px;
}